.ditContainer {
  background-color: papayawhip;
  padding: 1rem;

  .ditType {
    display: inline-block;
    font-size: 1.5rem;
    color: orangered;
  }

  .discoverability {
    color: gray;
  }
}
